<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="toolkitProperties" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>

    <toolkitProperties>
      <add key="MERCHANT_ID" value="testrest"/>
      <add key="KEY_ALIAS" value="testrest"/>
      <add key="KEY_FILE" value="testrest.p12"/>
      <add key="KEY_PASS" value="testrest"/>
      <add key="KEY_DIRECTORY" value="Path\To\Certificates"/>
    </toolkitProperties>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ITransactionProcessor">
                  <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor"
                binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor"
                contract="com.cybersource.stub.ITransactionProcessor" name="portXML" />
        </client>
    </system.serviceModel>
</configuration>